In [1]:
import os ,sys
sys.path.append(os.path.abspath('../scripts'))

# Feature Engineering

In [2]:
import featureEngineering as fe
import data_analysis_and_preprocessing as dap

In [3]:
path = '../data/mergeddf.csv'
df = dap.load_data(path)

2024-10-22 13:08:17,353 - root - INFO - loading the data

In [4]:
df = fe.feature_engineering(df)

In [5]:
df.head()

,Unnamed: 0,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,signup_hour,signup_dayofweek,purchase_hour,purchase_dayofweek,hour_of_day,day_of_week,transaction_count,time_since_last_purchase
116708,116708,2,2015-01-11 03:47:13,2015-02-21 10:03:37,54,FGBQNDNBETFJJ,SEO,Chrome,F,25,8.802175e+08,0,3,6,10,5,10,5,1,0.0
15108,15108,4,2015-06-02 16:40:57,2015-09-26 21:32:16,41,MKFUIVOHLJBYN,Direct,Safari,F,38,2.785906e+09,0,16,1,21,5,21,5,1,0.0
46047,46047,8,2015-05-28 07:53:06,2015-08-13 11:53:07,47,SCQGQALXBUQZJ,SEO,Chrome,M,25,3.560567e+08,0,7,3,11,3,11,3,1,0.0
67650,67650,9,2015-05-16 15:58:32,2015-05-20 23:06:42,62,IEZOHXPZBIRTE,SEO,FireFox,M,21,7.591047e+08,0,15,5,23,2,23,2,1,0.0
109067,109067,12,2015-01-10 06:25:12,2015-03-04 20:56:37,35,MSNWCFEHKTIOY,Ads,Safari,M,19,2.985180e+09,0,6,5,20,2,20,2,1,0.0

In [6]:
df['time_since_last_purchase'].unique()

array([0.])

### Normalizing and Scaling

In [7]:
df.columns

Index(['Unnamed: 0', 'user_id', 'signup_time', 'purchase_time',
       'purchase_value', 'device_id', 'source', 'browser', 'sex', 'age',
       'ip_address', 'class', 'signup_hour', 'signup_dayofweek',
       'purchase_hour', 'purchase_dayofweek', 'hour_of_day', 'day_of_week',
       'transaction_count', 'time_since_last_purchase'],
      dtype='object')

In [10]:
df = df.drop(columns=['Unnamed: 0'])

In [11]:
df[df['signup_time']=='2015-02-24 22:55:49']

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,signup_hour,signup_dayofweek,purchase_hour,purchase_dayofweek,hour_of_day,day_of_week,transaction_count,time_since_last_purchase
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,22,1,2,5,2,5,1,0.0